body {
  background-color: #fcf5fa;
}

/*Buttons*/
button {
  font-size: 40px;
  background-color: #efd3d7;
}

#signup {
  background-color: #85768f;
  color: #feeafa;
}

/*headers*/
h1,
h2 {
  /*With comma means AND, without comma means DESCENDANT*/
  color: #735d78;
}

/*Tags*/

span {
  color: #adb5bd;
}

.tag {
  background-color: #dee2ff;
  color: #6c757d;
  font-size: 16px;
}

/*Links*/

a {
  text-decoration: none;
  color: rgb(164, 0, 230);
}

footer a {
  /*anchor nested within footer*/
  color: #ff6262;
  text-decoration: underline;
}

/*Combinator/ Adjacent Selector*/

/*Selects element(s) that are immediately preceded by 
another element*/

h2 + button {
  font-size: 10px;
  font-family: "Courier New", Courier, monospace;
}

/*Direct Child*/
/*Selects elemets that are direct childs of an element*/

footer > a {
  color: #8d0f7c;
}

/*Selects sections with a class of post
sections.post*/

/*Attribute Selector*/
/*used to select an element with some specific attribute or 
attribute value.*/

input[type="password"] {
  color: #ceb4b8;
}

span[name*="poster"] {
  color: #d62839; /*why is only the color changing, but the weight changes in both areas?*/
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
span[name*="poster"] a {
}

/*Pseudo Classes--- keyword added to selector to 
specify a special state of the element*/

.post button:hover {
  background-color: #e0afa0;
  color: #f4f3ee;
}

.post a:hover {
  text-decoration: underline;
}

.post button:active {
  background-color: #e8c2ca;
}

/*.post:nth-of-type(3) { Selects the 3rd of the class
  background-color: #fae0e4;
}*/

.post:nth-of-type(3n) {
  /*Selects every other 3rd of the class*/
  background-color: #fae0e4;
}

.post:nth-of-type(3n) button {
  /*Why color not changing?*
  Answer: nth of type looks for every third thing of whichever 
  element it's attached to. Looks for how many are immediately next to each other/ sharing 
  same parent. Then applying every rule. Old code put on button, then looked at parent, 
  but there was only one button in parent. /
  background-color: #bd6381;
}

/*play with nth-of-child and first/last-of-child*/